@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --back: rgb(178, 218, 236);
}

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 20px;
}

.lists {
  display: flex;
}

/* List container */
.list-box {
  min-width: 300px;
  height: auto;
  background-color: var(--back);
  padding: 10px;
  margin-right: 10px;
  position: relative;
  padding-bottom: 110px;
  border-radius: 8px;
}

.card {
  padding: 15px;
  background-color: white;
  margin-bottom: 10px;
  position: relative;
  border-radius: 5px;
}

.deleteCardBtn, 
.deleteListBtn,
.addListBtn,
.addCardBtn {
  color: white;
}

.move {
  position: absolute;
  padding: 5px;
  top: 10px;
  right: 10px;
}

.contentInput {
  display: block;
  border: none;
  margin-bottom: 10px;
  width: 180px;
  resize: none;
}

.contentInput {
  border-radius: 3px;
}

.listTitle {
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  background-color: var(--back);
  color: rgb(51, 51, 51);
}

.bottom {
  position: absolute;
  bottom: 20px;
}

.addCardInput, .addCardBtn {
  border: none;
  padding: 10px;
  margin: 10px 0px;
}

.deleteCardBtn, .deleteListBtn, .addListBtn {
  border: none;
}

.deleteListBtn {
  padding: 7px 12px;
  border-radius: 3px;
}

.deleteCardBtn {
  padding: 6px 10px;
  border-radius: 2px;
  background-color: rgba(77, 143, 219, 0.863);
}

.deleteCardBtn:hover {
  background-color: rgba(16, 60, 110, 0.863);
}

.deleteListBtn {
  background-color: rgb(209, 117, 212);
}

.deleteListBtn:hover {
  background-color: rgb(196, 71, 201);
}

.addListBtn {
  padding: 8px 10px;
  background-color: rgb(100, 100, 207);
  margin: 10px 0px;
  font-size: 15px;
  border-radius: 5px;
}

.addListBtn:hover {
  background-color: rgb(53, 53, 170);
}

button {
  cursor: pointer;
}

.addCardInput {
  width: 200px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.addCardBtn {
  background-color: rgb(32, 179, 154);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.addCardBtn:hover {
  background-color: rgb(11, 204, 146);
}

textarea:focus, input:focus{
  box-shadow: 0 0 1px rgb(114, 114, 114);
  outline: none;
}

select {
  border-radius: 3px;
  border-color: var(--back);
}
